*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Quicksand', sans-serif;
    background: #f9f9f9;
}
.cards{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 200px;
    height: 320px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 15px;
    background: #ffffff;
    border-radius: 3px 3px 3px 3px ;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.055);
  
}
.title{
    margin: 10px 10px 10px 10px;
}
.img{
    max-width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 3px 3px 0px 0px ;
}
.title::after{
    margin-top: 10px;
    background-color: #ccc;
    bottom: 5px;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    width: auto;
}
.card p{
    margin-left: 10px;
}
.loader{
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
