*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Quicksand', sans-serif;
}
.cards{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 15px;
  
}
.title{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1;
}
.img{
    width: 200px;;
    height: 250px;
    border-radius: 10px;
    opacity: 0.9;
}
